body{
    background-color: rgb(27, 26, 26);
    color: rgb(230, 223, 223);
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 80px;
    max-width: 100%;
    height: auto;
    object-fit: contain;

}
h2 {
    background-color: #0078d7;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.term {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.term h3 {
    margin: 0 0 5px 0;
    color: #0078d7;
}

.term p {
    margin: 0;
    color: black;
}